@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    font-family: 'Roboto', sans-serif;
}

.phase {
    width: 80%;
    min-width: 1024px;
    margin: 0px auto;
}

.phase--hidden {
    display: none;
}

.phase__title {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.phase__menu-item {
    margin: 0.2em 0em;
}

.phase__menu-link:link, .phase__menu-link:visited {
    color: #0e141f;
    text-decoration: none;
}

.phase__menu-link:hover {
    color: #485a6c;
    font-weight: bold;
}

.phase__menu-link:active {
    color: #3689e6;
    font-weight: normal;
}
