html {
	position: relative;
	min-height: 100%;
}

body {
	width: 100%;
	padding: 0px;
	height:100%;
	margin: 0px 0px 100px 0px;
}

body div {
	margin: 50px auto 0px auto;
    width: 80%;
    font-size: 14pt;
}

header {
	padding: 1em;
	color: white;
	background-color: #8c1d40;
	clear: none;
	text-align: center;
}

footer {
	color: black;
	background-color: #ffc267;
	clear: none;
	text-align: center;
	font-size: 14px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 13px 0px;
}

span.code {
    font-family: monospace;
}
