@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fafafa;
}

.phase {
    width: 80%;
    min-width: 1024px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.phase--fit {
    width: 100%;
    min-width: 100px;
}

.phase--hidden {
    display: none;
}

.phase__title {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.phase__menu-item {
    text-align: left;
    margin: 0.2em 0em;
}

.phase__menu-link:link, .phase__menu-link:visited {
    color: #0e141f;
    text-decoration: none;
}

.phase__menu-link:hover {
    color: #485a6c;
    font-weight: bold;
}

.phase__menu-link:active {
    color: #3689e6;
    font-weight: normal;
}

.module {
    display: inline-block;
    margin: 2em auto;
}

.module--narrow {
    min-width: 300px;
}

.module__buttonbar {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0.2em;
}

.module__button-label {
    margin-right: 1em;
}

.module__controlbar {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0.2em auto 0em auto;
}

.module--hidden {
    display: none;
}

.module__plot {
    display: inline-block;
}

.module__plot--hidden {
    display: none;
}

.module__toolbar {
    display: flex;
    justify-content: space-between;
}

.cell--selected {
    fill: #ffff00;
}

.text--selected {
    fill: #000000;
}

.module__tools-form {
    width: 100%;
    clear: left;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.module__tools-form--hidden {
    display: none;
}

.module__number {
    width: 3em;
    margin: 0px 10px;
}
